# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Dirs we don't want
archive/
.git/
history/
html/
.idea/
jpg/
latex/
misc/
OV2640/
pixel5/
RCS/
runs/
toshow/
latex/
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.aps
*.clw
*.dsp
*.dsw
*.zip
# Misc stuff we don't want
*.app
*.bak

# Executables
*.exe
*.jpeg
*.jpg
*.log
*.out
*.output
*.swp
arg
array
assert
bitset
comma-format
comma-format2
comma-format3
construct
construct_copy
destructor
directory
enumclass
enum_book
except
filect
filesystem
float
free
init
intToString
iomanip
listadd
listinter
iter
map_err
move
multiline
my_namespace
new
no_assert
ofstream
parsedigits
ref
regex
regex1
rvalue
stack
statics
static_array
static_helper
static_member
strcompare
stringfind
stringfind_substr
stringstl
stringstream
strtok
main
template
tokenize
unique_ptr
histogram
vec-array
vector
